HELP.md
target/
node_modules/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

/med-web-app-front/package-lock.json
src/main/resources/application.properties
med-web-app-front/hs_err_pid19651.log
src/main/java/com/app/.DS_Store
src/main/java/com/app/medicalwebapp/.DS_Store
